[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pillow = "*"
pydantic = "*"
pygments = "*"
reportlab = "*"
svglib = "*"
lxml = "*"

[dev-packages]
black = "*"
pyclean = "*"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.10"
